<% layout('/layouts/default.html', {title: '巡检结果管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('巡检结果管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<!--<% if(hasPermi('test:inspectResult:edit')){ %>-->
					<!--<a href="${ctx}/test/inspectResult/form" class="btn btn-default btnTool" title="${text('新增巡检结果')}"><i class="fa fa-plus"></i> ${text('新增')}</a>-->
				<!--<% } %>-->
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${inspectResult}" action="${ctx}/test/inspectResult/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('巡检计划编号')}：</label>
					<div class="control-inline">
						<#form:input path="inspectPlanCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('巡检计划名称')}：</label>
					<div class="control-inline">
						<#form:input path="inspectPlanName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('巡检员编号')}：</label>
					<div class="control-inline">
						<#form:input path="inspecterCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" title="">
						<span class="required hide">*</span> ${text('开始时间')}：<i class="fa icon-question hide"></i></label>
					<div class="col-sm-8">
						<#form:input path="inspectStartDate" readonly="true" maxlength="60" class="form-control Wdate"
						dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<!--<div class="form-group">-->
					<!--<label class="control-label">${text('巡检开始时间')}：</label>-->
					<!--<div class="control-inline">-->
						<!--<#form:input path="inspectStartDate" class="form-control width-120"/>-->
					<!--</div>-->
				<!--</div>-->
				<div class="form-group">
					<label class="control-label col-sm-4" title="">
						<span class="required hide">*</span> ${text('结束时间')}：<i class="fa icon-question hide"></i></label>
					<div class="col-sm-8">
						<#form:input path="inspectEndDate" readonly="true" maxlength="60" class="form-control Wdate"
						dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<!--<div class="form-group">-->
					<!--<label class="control-label">${text('巡检结束时间')}：</label>-->
					<!--<div class="control-inline">-->
						<!--<#form:input path="inspectEndDate" class="form-control width-120"/>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label class="control-label">${text('巡检工时')}：</label>-->
					<!--<div class="control-inline">-->
						<!--<#form:input path="inspectHours" class="form-control width-120"/>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label class="control-label">${text('巡检结果描述')}：</label>-->
					<!--<div class="control-inline">-->
						<!--<#form:input path="inspectResultDepict" maxlength="255" class="form-control width-120"/>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label class="control-label">${text('巡检结果图片')}：</label>-->
					<!--<div class="control-inline">-->
						<!--<#form:input path="inspectResultImage" maxlength="255" class="form-control width-120"/>-->
					<!--</div>-->
				<!--</div>-->
				<div class="form-group">
					<label class="control-label">${text('巡检结果类型')}：</label>
					<div class="control-inline" style="width: 120px;">
						<!--<#form:input path="inspectResultType" maxlength="1" class="form-control width-120"/>-->
						<#form:select path="inspectResultType" dictType="check_result_status" blankOption="true" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" hidden="hidden">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select:hidden path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" hidden="hidden">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input:hidden path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('巡检计划编号')}', name:'inspectPlanCode', index:'a.inspect_plan_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			if(row.inspectResultType == '0'){
				row.inspectResultType = "正常";
            }else {
			   row.inspectResultType = "异常";
            }
			return '<a href="${ctx}/test/inspectResult/form?inspectResultCode='+row.inspectResultCode+'&inspectPlanCode='+row.inspectPlanCode+'" class="btnList" data-title="${text('编辑巡检结果')}">'+(val||row.id)+'</a>';
		}},
		//{header:'${text('巡检计划名称')}', name:'inspectPlanName', index:'a.inspect_plan_name', width:150, align:"left"},
		{header:'${text('巡检计划名称')}', name:'inspectPlan.treeName', index:'', width:150, align:"left"},
		//{header:'${text('巡检员编号')}', name:'inspecterCode', index:'a.inspecter_code', width:150, align:"left"},
		{header:'${text('巡检员姓名')}', name:'user.userName', index:'', width:150, align:"left"},
		{header:'${text('巡检开始时间')}', name:'inspectStartDate', index:'a.inspect_start_date', width:150, align:"center"},
		{header:'${text('巡检结束时间')}', name:'inspectEndDate', index:'a.inspect_end_date', width:150, align:"center"},
		<!--{header:'${text('巡检工时')}', name:'inspectHours', index:'a.inspect_hours', width:150, align:"right", formatter: function(val, obj, row, act){-->
			<!--return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);-->
		<!--}},-->
		{header:'${text('巡检结果描述')}', name:'inspectResultDepict', index:'a.inspect_result_depict', width:150, align:"left"},
		//{header:'${text('巡检结果图片')}', name:'inspectResultImage', index:'a.inspect_result_image', width:150, align:"left"},
		{header:'${text('巡检结果类型')}', name:'inspectResultType', index:'a.inspect_result_type', width:150, align:"left"},
		<!--{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){-->
			<!--return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);-->
		<!--}},-->
		//{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('备注信息')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('test:inspectResult:edit')){ %>
				actions.push('<a href="${ctx}/test/inspectResult/form?inspectResultCode='+row.inspectResultCode+'&inspectPlanCode='+row.inspectPlanCode+'" class="btnList" title="${text('编辑巡检结果')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				<!--if (row.status == Global.STATUS_NORMAL){-->
					<!--actions.push('<a href="${ctx}/test/inspectResult/disable?inspectResultCode='+row.inspectResultCode+'" class="btnList" title="${text('停用巡检结果')}" data-confirm="${text('确认要停用该巡检结果吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');-->
				<!--}-->
				<!--if (row.status == Global.STATUS_DISABLE){-->
					<!--actions.push('<a href="${ctx}/test/inspectResult/enable?inspectResultCode='+row.inspectResultCode+'" class="btnList" title="${text('启用巡检结果')}" data-confirm="${text('确认要启用该巡检结果吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');-->
				<!--}-->
				actions.push('<a href="${ctx}/test/inspectResult/delete?inspectResultCode='+row.inspectResultCode+'&inspectPlanCode='+row.inspectPlanCode+'" class="btnList" title="${text('删除巡检结果')}" data-confirm="${text('确认要删除该巡检结果吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>